/*genaral*/
*{
    padding: 0;
    margin: 0;
    font-family: 微軟正黑體,Microsoft JhengHei,黑體,SimHei,標楷體,DFKai-SB,BiauKai,全字庫正楷體,TW-Kai,'Source Sans Pro', Helvetica, sans-serif;
}

/*layout*/
#board{
    width: 450px;
    height: 450px;
    margin: 0 auto;
    position: relative;
}

/*board background*/
#board-background{
    width: 450px;
    height: 450px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
#board-background .row{
    display: block;
}
#board-background .row::after{
    display: block;
    content: "";
    clear: both;
}
#board-background div{
    float: left;
    width: 49px;
    height: 49px;
    border-width: 1px;
    border-color: black;
    border-style: none solid solid none;
}
#board-background div.head-top{
    border-top-style: solid;
    height: 48px;
}
#board-background div.head-left{
    border-left-style: solid;
    width: 48px;
}
#board-background .space{
    border: none;
    width: 50px;
    height: 50px;
}
#board-background .arc.left-top{
    border-radius: 100% 0 0 0;
    border-style: solid none none solid;
}
#board-background .arc.right-top{
    border-radius: 0 100% 0 0;
    border-style: solid solid none none;
}
#board-background .arc.right-bottom{
    border-radius: 0 0 100% 0;
    border-style: none solid solid none;
}
#board-background .arc.left-bottom{
    border-radius: 0 0 0 100%;
    border-style: none none solid solid;
}
#board-background .big{
    width: 99px;
    height: 99px;
    position: absolute;
}

/*board control*/
#board-control{
    padding: 75px;
    width: 300px;
    height: 300px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
#board-control .row::after{
    display: block;
    content: "";
    clear: both;
}
#board-control .chess{
    float: left;
    width: 50px;
    height: 50px;
    position: relative;
}
#board-control .chess.has-chess::after{
    display: block;
    content: "";
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position: absolute;
    top: 11.5px;
    left: 11.5px;
    border: 1px solid black;
}
#board-control .chess.has-chess.black::after{
    background: black;
}
#board-control .chess.has-chess.white::after{
    background: white;
}
#board-control .chess.prompt:not(.has-chess)::after{
    display: block;
    content: "";
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position: absolute;
    top: 11.5px;
    left: 11.5px;
    background: rgba(0,255,255,0.5);
}
#board-control .chess.prompt.has-chess::after{
    top: 7.5px;
    left: 7.5px;
    border: 5px solid rgba(0,255,255,0.5);
}
